Repository jmanhype/vsm-phoenix-app, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, system-1, system-2, system-3, system-4, system-5, infrastructure, mcp, test, documentation, ci/cd, dependencies, security, telegram, database, variety-engineering, amqp, performance, deployment

.github/labeler.yml:

# Configuration for auto-labeling PRs based on file changes
# Used by .github/workflows/pr-automation.yml

# Frontend changes
frontend:
  - assets/**/*
  - lib/vsm_phoenix_web/**/*
  - priv/static/**/*

# Backend changes
backend:
  - lib/vsm_phoenix/**/*
  - '!lib/vsm_phoenix_web/**/*'

# VSM System-specific labels
system-1:
  - lib/vsm_phoenix/system1/**/*

system-2:
  - lib/vsm_phoenix/system2/**/*

system-3:
  - lib/vsm_phoenix/system3/**/*

system-4:
  - lib/vsm_phoenix/system4/**/*

system-5:
  - lib/vsm_phoenix/system5/**/*

# Infrastructure and resilience
infrastructure:
  - lib/vsm_phoenix/infrastructure/**/*
  - lib/vsm_phoenix/resilience/**/*
  - config/**/*

# MCP Integration
mcp:
  - lib/vsm_phoenix/mcp/**/*
  - scripts/mcp_*.exs

# Testing
test:
  - test/**/*
  - scripts/tests/**/*

# Documentation
documentation:
  - '**/*.md'
  - docs/**/*

# CI/CD and GitHub Actions
ci/cd:
  - .github/**/*

# Dependencies
dependencies:
  - mix.exs
  - mix.lock
  - package.json
  - package-lock.json

# Security-related changes
security:
  - lib/vsm_phoenix/infrastructure/security.ex
  - lib/vsm_phoenix/infrastructure/security_integration.ex
  - lib/vsm_phoenix/resilience/**/*

# Telegram integration
telegram:
  - lib/vsm_phoenix/infrastructure/telegram_service.ex
  - lib/vsm_phoenix/system1/agents/telegram_agent.ex
  - lib/vsm_phoenix/resilience/telegram_resilient_client.ex

# Database and migrations
database:
  - priv/repo/**/*
  - lib/vsm_phoenix/repo.ex

# Variety Engineering
variety-engineering:
  - lib/vsm_phoenix/variety_engineering/**/*

# AMQP/RabbitMQ
amqp:
  - lib/vsm_phoenix/amqp/**/*
  - lib/vsm_phoenix/infrastructure/amqp_*.ex

# Performance-related
performance:
  - lib/vsm_phoenix/performance_monitor.ex
  - lib/vsm_phoenix/telemetry_collector.ex

# Docker and deployment
deployment:
  - Dockerfile
  - docker-compose.yml
  - .dockerignore

docs: update documentation badge
  README.md
Labels: backend, documentation

🔖 Task checkpoint: {{user_prompt}} ...
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
Labels: backend

🔖 Task checkpoint: {{user_prompt}} ...
  .claude-flow/metrics/system-metrics.json
  .claude/checkpoints/task-1754593318.json
  .claude/hooks/logs/post_tool_use.json
  .claude/hooks/logs/pre_tool_use.json
Labels: backend

🏁 Session end checkpoint: session-20250807-140451
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  .claude/checkpoints/summary-session-20250807-140451.md
  .claude/checkpoints/task-1754593423.json
  .claude/hooks/logs/chat.json
  .claude/hooks/logs/post_tool_use.json
  .claude/hooks/logs/pre_tool_use.json
  .claude/hooks/logs/stop.json
Labels: backend, documentation

🔖 Task checkpoint: {{user_prompt}} ...
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
Labels: backend

🏁 Session end checkpoint: session-20250807-140619
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  .claude/checkpoints/summary-session-20250807-140619.md
  .claude/checkpoints/task-1754593530.json
  .claude/hooks/logs/chat.json
  .claude/hooks/logs/post_tool_use.json
  .claude/hooks/logs/pre_tool_use.json
  .claude/hooks/logs/stop.json
Labels: backend, documentation

🔖 Task checkpoint: {{user_prompt}} ...
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
Labels: backend

🔖 Task checkpoint: {{user_prompt}} ...
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  .claude/checkpoints/task-1754593609.json
  .claude/hooks/logs/pre_tool_use.json
Labels: backend

🔖 Task checkpoint: {{user_prompt}} ...
  .claude-flow/metrics/system-metrics.json
  .claude/checkpoints/task-1754593638.json
  .claude/hooks/logs/post_tool_use.json
  .claude/hooks/logs/pre_tool_use.json
Labels: backend

🔖 Task checkpoint: {{user_prompt}} ...
  .claude-flow/metrics/system-metrics.json
  .claude/checkpoints/task-1754593696.json
Labels: backend

🏁 Session end checkpoint: session-20250807-140914
  .claude-flow/metrics/system-metrics.json
  .claude/checkpoints/summary-session-20250807-140914.md
  .claude/checkpoints/task-1754593740.json
  .claude/hooks/logs/chat.json
  .claude/hooks/logs/stop.json
Labels: backend, documentation

🔖 Task checkpoint: {{user_prompt}} ...
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
Labels: backend

🏁 Session end checkpoint: session-20250807-141013
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  .claude/checkpoints/summary-session-20250807-141013.md
  .claude/checkpoints/task-1754593778.json
  .claude/hooks/logs/chat.json
  .claude/hooks/logs/post_tool_use.json
  .claude/hooks/logs/pre_tool_use.json
  .claude/hooks/logs/stop.json
Labels: backend, documentation

🔖 Task checkpoint: {{user_prompt}} ...
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
Labels: backend

🔖 Task checkpoint: {{user_prompt}} ...
  .claude-flow/metrics/system-metrics.json
  .claude/checkpoints/task-1754593828.json
Labels: backend

🏁 Session end checkpoint: session-20250807-141325
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  .claude/checkpoints/summary-session-20250807-141325.md
  .claude/checkpoints/task-1754593954.json
  .claude/hooks/logs/chat.json
  .claude/hooks/logs/post_tool_use.json
  .claude/hooks/logs/pre_tool_use.json
  .claude/hooks/logs/stop.json
  .github/README.md
Labels: backend, documentation, ci/cd

🔖 Task checkpoint: {{user_prompt}} ...
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
Labels: backend

🏁 Session end checkpoint: session-20250807-141403
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  .claude/checkpoints/summary-session-20250807-141403.md
  .claude/checkpoints/task-1754594015.json
  .claude/hooks/logs/chat.json
  .claude/hooks/logs/post_tool_use.json
  .claude/hooks/logs/pre_tool_use.json
  .claude/hooks/logs/stop.json
  .github/README.md
Labels: backend, documentation, ci/cd

🔖 Task checkpoint: {{user_prompt}} ...
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
Labels: backend

📚 Create comprehensive README with real achievements
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  .claude/checkpoints/task-1754594080.json
  .claude/hooks/logs/post_tool_use.json
  .claude/hooks/logs/pre_tool_use.json
  .github/README.md
  README.md
Labels: backend, documentation, ci/cd

🔖 Task checkpoint: {{user_prompt}} ...
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  .claude/hooks/logs/post_tool_use.json
  .claude/hooks/logs/pre_tool_use.json
Labels: backend

🏁 Session end checkpoint: session-20250807-142518
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  .claude/checkpoints/summary-session-20250807-142518.md
  .claude/checkpoints/task-1754594701.json
  .claude/hooks/logs/chat.json
  .claude/hooks/logs/post_tool_use.json
  .claude/hooks/logs/pre_tool_use.json
  .claude/hooks/logs/stop.json
Labels: backend, documentation

🔖 Task checkpoint: {{user_prompt}} ...
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
Labels: backend

fix: Update .github/README.md with comprehensive VSM documentation
  .github/README.md
Labels: backend, documentation, ci/cd

docs: update documentation badge
  README.md
Labels: backend, documentation

🔖 Task checkpoint: {{user_prompt}} ...
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
Labels: backend

🏁 Session end checkpoint: session-20250807-142753
  .claude/checkpoints/summary-session-20250807-142753.md
  .claude/checkpoints/task-1754594867.json
  .claude/hooks/logs/chat.json
  .claude/hooks/logs/stop.json
Labels: backend, documentation

🔖 Task checkpoint: {{user_prompt}} ...
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
Labels: backend

🔖 Task checkpoint: {{user_prompt}} ...
  .claude-flow/metrics/system-metrics.json
  .claude/checkpoints/task-1754594849.json
  .claude/hooks/logs/pre_tool_use.json
Labels: backend

🏁 Session end checkpoint: session-20250807-142707
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  .claude/checkpoints/summary-session-20250807-142707.md
  .claude/checkpoints/task-1754594776.json
  .claude/hooks/logs/chat.json
  .claude/hooks/logs/post_tool_use.json
  .claude/hooks/logs/pre_tool_use.json
  .claude/hooks/logs/stop.json
Labels: backend, documentation

feat: Add GitHub Actions section to comprehensive README
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  .claude/checkpoints/task-1754594887.json
  .claude/hooks/logs/post_tool_use.json
  .claude/hooks/logs/pre_tool_use.json
  .github/README.md
  README.md
Labels: backend, documentation, ci/cd

docs: update documentation badge
  README.md
Labels: backend, documentation

🏁 Session end checkpoint: session-20250807-143042
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  .claude/checkpoints/summary-session-20250807-143042.md
  .claude/hooks/logs/chat.json
  .claude/hooks/logs/post_tool_use.json
  .claude/hooks/logs/stop.json
Labels: backend, documentation

📚 Update roadmap with GEPA and Cybernetic.ai self-optimization phases
  README.md
Labels: backend, documentation

Update system metrics
  .claude-flow/metrics/system-metrics.json
Labels: backend
